#board {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 300px;
}
.square {
    height: calc(300px / 3);
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}